# Entornos virtuales
venv/
ENV/
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración
*.env
*.ini
*.cfg

# Archivos de sistema
.DS_Store
Thumbs.db
.idea
.env

# Archivos de log
*.log
data.db
